# upstart service file at /etc/init/vne.conf
description "#valenaoesquecer Meteor.js (NodeJS) application"
author "Jose Fernando Tolentino <josefernandotoletino@gmail.com>"

# When to start the service
start on started mongodb and runlevel [2345]

# When to stop the service
stop on shutdown

# Automatically restart process if crashed
respawn
respawn limit 10 5

# we don't use buil-in log because we use a script below
# console log

# drop root proviliges and switch to mymetorapp user
setuid vne
setgid vne

script
    export PATH=/opt/local/bin:/opt/local/sbin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    export NODE_PATH=/usr/lib/nodejs:/usr/lib/node_modules:/usr/share/javascript

    # set to home directory of the user Meteor will be running as
    export PWD=/home/vne
    export HOME=/home/vne

    # leave as 127.0.0.1 for security
    export BIND_IP=127.0.0.1

    # the port nginx is proxying requests to
    export PORT=3000

    # this allows Meteor to figure out correct IP address of visitors
    export HTTP_FORWARDED_COUNT=1

    # MongoDB connection string using vne as database name
    export MONGO_URL=mongodb://localhost:27017/nve

    # The domain name as configured previously as server_name in nginx
    export ROOT_URL=http://www.valenaoesquecer.org

    # exec node /home/vne/bundle/main.js >> /home/vne/vne.log

    meteor --production
end script