
sudo docker run -d \
    --name mongodb \
    -p 27017:27017 \
    -v /home/josefernandotolentino/nve.db:/data \
    frodenas/mongodb


sudo docker run -d \
  --name meteor \
  --link mongodb \
    -e ROOT_URL=http://www.valenaoesquecer.org \
    -e MONGO_URL=mongodb://127.0.0.1:27017/vne \
    -e MONGO_OPLOG_URL=mongodb://127.0.0.1:27017/local \
    -e ROOT_URL=http://yourapp.com \
    -e BUNDLE_URL=https://github.com/thr0w/valenaoesquecer/archive/master.tar.gz \
    -e REBULD_NPM_MODULES=1 \
    -p 8080:80 \
    meteorhacks/meteord:binbuild